@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  font-family: 'Press Start 2P', cursive;
}

body {
  margin: 0 auto;
}

p {
  margin: 0;

  font-size: 14px;
}

button {
  border: 0;

  font-size: 14px;

  background-color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #f7f7f7;
}

.background {
  display: inline-block;
  position: relative;
}

.background__battle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #fff;
  opacity: 0;
  pointer-events: none;
}

.background__battle-bar {
  height: 140px;
  border-top: 3px solid #000;

  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #fff;
}

.battle-bar__attacks {
  width: 66.66%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.battle-bar__attack-types {
  width: 33.33%;
  border-left: 3px solid #000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.background__health-bar {
  width: 200px;
  padding: 12px;
  border: 3px solid #000;

  position: absolute;

  background-color: #fff;
}

.background__health-bar_draggle {
  top: 50px;
  left: 50px;
}

.background__health-bar_emby {
  top: 330px;
  right: 50px;
}

.health-bar__scale {
  position: relative;
}

.scale_wasted {
  height: 5px;
  margin-top: 10px;

  background-color: #ccc;
}

.scale_left {
  width: 50%;
  height: 5px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background-color: #35a329;
}